
#divClass {
    width: 500px; 
    background-color: yellow;
    margin-left: 30%}
#lista {
    font-size: 25px;
    color: red;
}    
#img {
    display: block;
    margin: auto;}
#link:visited
    { color: green;
     text-decoration: none}
